<h1 class="text-center">Conferences</h1>

<div class="container">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th class="col-sm-2">Title</th>
          <th class="col-sm-2">Url</th>
          <th class="col-sm-2">Date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @conferences.each do |conference| %>
          <tr>
            <td class="col-sm-2"><%= conference.title %></td>
            <td class="col-sm-2"><%= conference.url %></td>
            <td class="col-sm-2"><%= conference.date %></td>
            <td class="col-sm-2"><%= link_to 'Show', conference %></td>
            <td class="col-sm-2"><%= link_to 'Edit', edit_conference_path(conference) %></td>
            <td class="col-sm-2"><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="text-center">
<td><%= link_to 'New Conference', new_conference_path %>  |</td>
<td><%= link_to 'Home', root_path %></td>

</div>
