.text-center
  %h2.text-center Conference
  = link_to 'See conferences', conferences_path
  |
  \#{link_to 'New conference', new_conference_path}
  %h2.text-center Participant
  = link_to 'See participants', participants_path
  |
  \#{link_to 'New participant', new_participant_path}
  %h2.text-center Subject
  = link_to 'See subjects', subjects_path
  |
  \#{link_to 'New subject', new_subject_path}
