
<div class="text-center">
  <h2 class="text-center">Conference</h2>
  <%= link_to 'See conferences', conferences_path(:title => "ParisRb")%> |
  <%= link_to 'New conference', new_conference_path%>
  <h2 class="text-center">Participant</h2>
  <%= link_to 'See participants', participants_path %> |
  <%= link_to 'New participant', new_participant_path%>
    <h2 class="text-center">Subject</h2>
  <%= link_to 'See subjects', subjects_path %> |
  <%= link_to 'New subject', new_subject_path%>
</div>
