<%= simple_form_for(@subject) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.association :questioner %>
    <%= f.association :conference %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
