= simple_form_for(@subject) do |f|
  = f.error_notification
  .form-inputs
    = f.input :title
    = f.input :description
    = f.association :questioner
    = f.association :conference, :include_blank => false,  :label_method => lambda { |conference| "#{conference.date.current_conferences}" }
  .form-actions
    = f.button :submit
