<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :participant_id %><br>
    <%= f.number_field :participant_id %>
    <%= link_to 'New Participant', new_participant_path %>
  </div>
  <div class="field">
    <%= f.label :conference_id %><br>
    <%= f.number_field :conference_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
