<div class="text-center">
  <h1>
    <strong><%= @subject.title %></strong>
  </h1>

  <p>
    <strong>Description:</strong>
    <%= @subject.description %>
  </p>

  <p>
    <strong>Participant:</strong>
    <%= @subject.questioner.try(:name) %>
  </p>

  <p>
    <strong>Conference:</strong>
    <%= @subject.conference.title %>
  </p>

  <%= link_to 'Edit', edit_subject_path(@subject) %> |
  <%= link_to 'Back', subjects_path %> |
  <%= link_to 'Home', root_path %>
</div>
